html {
	margin: 0% 5%;
	background-color: gray;
}

h1 {
	background-color: lightgray;
	padding: 1% 2%;
	margin-bottom: 0%;
}
.navbar-static-top {
	background-color: pink;
	padding: 1% 0% 0%;
	margin: 0%;
	width:100%;
	float: left;
}

a:link {
  	color: #428bca;
  	text-decoration: underline;
}

a:visited {
	color: purple;
  }

a:hover {
  	color: green;
} 
 
a:active {
	color: red;
}


.navbar li {
	float: left;
	display: inline-block;
	text-align: left;
	margin: 0%;
	padding: 0%;
}

.row {
	width: 100%;
	margin-left: 0%;
	max-height: 768px
}

#column-1 {
	background-color: lightgreen;
	min-height: 600px;
	max-height: 998px;


}

#column-2 {
	background-color: lightblue;
	min-height: 600px;
	max-height: 768px;
}

@media screen and (max-width: 991px) {
    #column-2 {
        	width: 100%;
    }
}
